  header {
    background-color: rgb(53, 52, 52);
    color: rgb(2, 250, 56);
  }
  
  body {
    height:100% !important;
    background-color:  rgb(53, 52, 52);
    width: 100% !important;
 }

  button {
    height: 100%;
    width: 100%;
  }

  input[type=text] {
    height: 30px;
  }

  .import-file>input {
    display: none;
  }

  .fontTitle {
    font-family: "Computer Font", ComputerFont, none;
  }
