body {
  height:100% !important;
  width: 100% !important;
  color: #06fc06;
  background-color: rgb(48, 47, 47);
  position: fixed;
}

nav{
  padding-left: 3em;
  font-weight: bolder
}

button {
  height: 50;
  width: 50;
  background: rgb(48, 47, 47);
}

textarea {
  color: rgb(255, 255, 255);
  background-color: rgb(26, 25, 25);
  border: 1px solid rgb(255, 255, 255);
  font-size: 18;
  
}

.image-upload>input {
  display: none;
}

.table-wrapper-scroll-y {
  display: block;
}

.CodeMirror {
  border: 1px solid #eee;
  font-family: monospace;
  color: black;
  direction: ltr;
  height: 800px;
  max-width: 800px;
  font-size: 16px;
}

.ctnFlex{
  display: flex;
  justify-content: space-between;
   
}
div.op1 {
  display: inline-block;
  margin-left: 4vw;
  min-width:40vw;
}

div.op2 {
  display: inline-block;
  margin-right: 4vw;
  text-align: left;
  min-width:40vw;
}