body {
  height:100% !important;
  width: 100% !important;
  color: #06fc06;
  background-color: rgb(48, 47, 47);
  position: fixed;
}

button {
  width: 70;
  height: 70;
  background-color: rgb(48, 47, 47);
}

nav {
  padding-left: 3em;
  font-weight: bolder;
}

table {
  border-top: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
  border-left: 2px solid rgb(255, 255, 255);
  height: 530px !important;
  width: 750px !important;
}
  
td, th {
  border: 1px solid rgb(255, 255, 255);
}

.image-upload>input {
  display: none;
}

.my-custom-scrollbar {
  position: relative;
  height: 400px;
  overflow: auto;
}

thead, tbody{
  display: block;
  width: 750px;
}

tbody{
  overflow-y: scroll;
  height: 530px !important;
}