body {
  height:100% !important;
  width: 100% !important;
  color: #06fc06;
  background-color: rgb(48, 47, 47);
  position: fixed;
}

button {
  width: 50;
  height: 50;
  background-color: rgb(48, 47, 47);
}

nav {
  padding-left: 3em;
  font-weight: bolder;
}

.image-upload>input {
  display: none;
}

.my-custom-scrollbar {
  position: relative;
  height: 400px;
  overflow: auto;
}

table {
  height: 650px !important;
  width: 834px !important;
}

#table2 {
  height: 652px !important;
  width: 172px !important;
  display: block;
  position: fixed;
}

table, td, th {
  border: 1px solid rgb(255, 255, 255);
  border-top: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
  border-left: 2px solid rgb(255, 255, 255);
}

thead, tbody{
  display: block;
  width: 834px;
}

tbody{
  overflow-y: scroll;
  height: 650px !important;
}